In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('../clean_data/after_clean.csv')

In [3]:
data

     Year   Jurisdiction  All students  Average scale score
0    2022       National  All students                274.0
1    2022        Alabama  All students                264.0
2    2022         Alaska  All students                270.0
3    2022        Arizona  All students                271.0
4    2022       Arkansas  All students                267.0
..    ...            ...           ...                  ...
505  2003       Virginia  All students                282.0
506  2003     Washington  All students                281.0
507  2003  West Virginia  All students                271.0
508  2003      Wisconsin  All students                284.0
509  2003        Wyoming  All students                284.0

[510 rows x 4 columns]

In [4]:
gap_stats = data.groupby('Jurisdiction')['Average scale score'].agg(['max', 'min']).reset_index()
gap_stats

      Jurisdiction    max    min
0          Alabama  269.0  262.0
1           Alaska  283.0  270.0
2          Arizona  283.0  271.0
3         Arkansas  279.0  266.0
4       California  277.0  267.0
5         Colorado  292.0  275.0
6      Connecticut  289.0  276.0
7         Delaware  284.0  264.0
8          Florida  281.0  271.0
9          Georgia  281.0  270.0
10          Hawaii  281.0  266.0
11           Idaho  287.0  280.0
12        Illinois  285.0  275.0
13         Indiana  288.0  279.0
14            Iowa  286.0  277.0
15          Kansas  290.0  272.0
16        Kentucky  282.0  269.0
17       Louisiana  273.0  266.0
18           Maine  289.0  273.0
19        Maryland  288.0  269.0
20   Massachusetts  301.0  284.0
21        Michigan  280.0  273.0
22       Minnesota  295.0  280.0
23     Mississippi  274.0  261.0
24        Missouri  286.0  272.0
25         Montana  293.0  277.0
26        National  285.0  274.0
27        Nebraska  288.0  279.0
28          Nevada  278.0  268.0
29   New Hampshire  296.0  279.0
30      New Jersey  296.0  281.0
31      New Mexico  274.0  259.0
32        New York  283.0  274.0
33  North Carolina  286.0  274.0
34    North Dakota  293.0  278.0
35            Ohio  290.0  276.0
36        Oklahoma  279.0  264.0
37          Oregon  285.0  270.0
38    Pennsylvania  290.0  274.0
39    Rhode Island  284.0  270.0
40  South Carolina  282.0  269.0
41    South Dakota  291.0  281.0
42       Tennessee  280.0  268.0
43           Texas  290.0  273.0
44            Utah  287.0  279.0
45         Vermont  295.0  276.0
46        Virginia  290.0  279.0
47      Washington  290.0  276.0
48   West Virginia  274.0  260.0
49       Wisconsin  289.0  281.0
50         Wyoming  289.0  281.0

In [5]:
gap_stats['Min_Max'] = list(zip(gap_stats['min'], gap_stats['max']))

# Drop the separate 'max' and 'min' columns
gap_stats_combined = gap_stats.drop(columns=['max', 'min'])

gap_stats_combined

      Jurisdiction         Min_Max
0          Alabama  (262.0, 269.0)
1           Alaska  (270.0, 283.0)
2          Arizona  (271.0, 283.0)
3         Arkansas  (266.0, 279.0)
4       California  (267.0, 277.0)
5         Colorado  (275.0, 292.0)
6      Connecticut  (276.0, 289.0)
7         Delaware  (264.0, 284.0)
8          Florida  (271.0, 281.0)
9          Georgia  (270.0, 281.0)
10          Hawaii  (266.0, 281.0)
11           Idaho  (280.0, 287.0)
12        Illinois  (275.0, 285.0)
13         Indiana  (279.0, 288.0)
14            Iowa  (277.0, 286.0)
15          Kansas  (272.0, 290.0)
16        Kentucky  (269.0, 282.0)
17       Louisiana  (266.0, 273.0)
18           Maine  (273.0, 289.0)
19        Maryland  (269.0, 288.0)
20   Massachusetts  (284.0, 301.0)
21        Michigan  (273.0, 280.0)
22       Minnesota  (280.0, 295.0)
23     Mississippi  (261.0, 274.0)
24        Missouri  (272.0, 286.0)
25         Montana  (277.0, 293.0)
26        National  (274.0, 285.0)
27        Nebraska  (279.0, 288.0)
28          Nevada  (268.0, 278.0)
29   New Hampshire  (279.0, 296.0)
30      New Jersey  (281.0, 296.0)
31      New Mexico  (259.0, 274.0)
32        New York  (274.0, 283.0)
33  North Carolina  (274.0, 286.0)
34    North Dakota  (278.0, 293.0)
35            Ohio  (276.0, 290.0)
36        Oklahoma  (264.0, 279.0)
37          Oregon  (270.0, 285.0)
38    Pennsylvania  (274.0, 290.0)
39    Rhode Island  (270.0, 284.0)
40  South Carolina  (269.0, 282.0)
41    South Dakota  (281.0, 291.0)
42       Tennessee  (268.0, 280.0)
43           Texas  (273.0, 290.0)
44            Utah  (279.0, 287.0)
45         Vermont  (276.0, 295.0)
46        Virginia  (279.0, 290.0)
47      Washington  (276.0, 290.0)
48   West Virginia  (260.0, 274.0)
49       Wisconsin  (281.0, 289.0)
50         Wyoming  (281.0, 289.0)

In [6]:
gap_stats['MinMaxList'] = gap_stats['Min_Max'].apply(lambda x: list(x))
gap_stats_lists = gap_stats.drop(columns=['Min_Max', 'max', 'min'])
gap_stats_lists

      Jurisdiction      MinMaxList
0          Alabama  [262.0, 269.0]
1           Alaska  [270.0, 283.0]
2          Arizona  [271.0, 283.0]
3         Arkansas  [266.0, 279.0]
4       California  [267.0, 277.0]
5         Colorado  [275.0, 292.0]
6      Connecticut  [276.0, 289.0]
7         Delaware  [264.0, 284.0]
8          Florida  [271.0, 281.0]
9          Georgia  [270.0, 281.0]
10          Hawaii  [266.0, 281.0]
11           Idaho  [280.0, 287.0]
12        Illinois  [275.0, 285.0]
13         Indiana  [279.0, 288.0]
14            Iowa  [277.0, 286.0]
15          Kansas  [272.0, 290.0]
16        Kentucky  [269.0, 282.0]
17       Louisiana  [266.0, 273.0]
18           Maine  [273.0, 289.0]
19        Maryland  [269.0, 288.0]
20   Massachusetts  [284.0, 301.0]
21        Michigan  [273.0, 280.0]
22       Minnesota  [280.0, 295.0]
23     Mississippi  [261.0, 274.0]
24        Missouri  [272.0, 286.0]
25         Montana  [277.0, 293.0]
26        National  [274.0, 285.0]
27        Nebraska  [279.0, 288.0]
28          Nevada  [268.0, 278.0]
29   New Hampshire  [279.0, 296.0]
30      New Jersey  [281.0, 296.0]
31      New Mexico  [259.0, 274.0]
32        New York  [274.0, 283.0]
33  North Carolina  [274.0, 286.0]
34    North Dakota  [278.0, 293.0]
35            Ohio  [276.0, 290.0]
36        Oklahoma  [264.0, 279.0]
37          Oregon  [270.0, 285.0]
38    Pennsylvania  [274.0, 290.0]
39    Rhode Island  [270.0, 284.0]
40  South Carolina  [269.0, 282.0]
41    South Dakota  [281.0, 291.0]
42       Tennessee  [268.0, 280.0]
43           Texas  [273.0, 290.0]
44            Utah  [279.0, 287.0]
45         Vermont  [276.0, 295.0]
46        Virginia  [279.0, 290.0]
47      Washington  [276.0, 290.0]
48   West Virginia  [260.0, 274.0]
49       Wisconsin  [281.0, 289.0]
50         Wyoming  [281.0, 289.0]

In [7]:
## gap in one column
score_list = data.groupby('Jurisdiction')['Average scale score'].apply(list).reset_index(name='Average scale score')

score_list

      Jurisdiction                                Average scale score
0          Alabama  [264.0, 269.0, 268.0, 267.0, 269.0, 269.0, 269...
1           Alaska  [270.0, 274.0, 277.0, 280.0, 282.0, 283.0, 283...
2          Arizona  [271.0, 280.0, 282.0, 283.0, 280.0, 279.0, 277...
3         Arkansas  [267.0, 274.0, 274.0, 275.0, 278.0, 279.0, 276...
4       California  [270.0, 276.0, 277.0, 275.0, 276.0, 273.0, 270...
5         Colorado  [275.0, 285.0, 286.0, 286.0, 290.0, 292.0, 287...
6      Connecticut  [276.0, 286.0, 284.0, 284.0, 285.0, 287.0, 289...
7         Delaware  [264.0, 277.0, 278.0, 280.0, 282.0, 283.0, 284...
8          Florida  [271.0, 279.0, 279.0, 275.0, 281.0, 278.0, 279...
9          Georgia  [271.0, 279.0, 281.0, 279.0, 279.0, 278.0, 278...
10          Hawaii  [270.0, 275.0, 277.0, 279.0, 281.0, 278.0, 274...
11           Idaho  [282.0, 286.0, 284.0, 284.0, 286.0, 287.0, 287...
12        Illinois  [275.0, 283.0, 282.0, 282.0, 285.0, 283.0, 282...
13         Indiana  [279.0, 286.0, 288.0, 287.0, 288.0, 285.0, 287...
14            Iowa  [277.0, 282.0, 286.0, 286.0, 285.0, 285.0, 284...
15          Kansas  [272.0, 282.0, 285.0, 284.0, 290.0, 290.0, 289...
16        Kentucky  [269.0, 278.0, 278.0, 278.0, 281.0, 282.0, 279...
17       Louisiana  [266.0, 272.0, 267.0, 268.0, 273.0, 273.0, 272...
18           Maine  [273.0, 282.0, 284.0, 285.0, 289.0, 289.0, 286...
19        Maryland  [269.0, 280.0, 281.0, 283.0, 287.0, 288.0, 288...
20   Massachusetts  [284.0, 294.0, 297.0, 297.0, 301.0, 299.0, 299...
21        Michigan  [273.0, 280.0, 280.0, 278.0, 280.0, 280.0, 278...
22       Minnesota  [280.0, 291.0, 294.0, 294.0, 295.0, 295.0, 294...
23     Mississippi  [266.0, 274.0, 271.0, 271.0, 271.0, 269.0, 265...
24        Missouri  [272.0, 281.0, 281.0, 281.0, 283.0, 282.0, 286...
25         Montana  [277.0, 284.0, 286.0, 287.0, 289.0, 293.0, 292...
26        National  [274.0, 282.0, 283.0, 282.0, 285.0, 284.0, 283...
27        Nebraska  [279.0, 285.0, 288.0, 286.0, 285.0, 283.0, 284...
28          Nevada  [269.0, 274.0, 275.0, 275.0, 278.0, 278.0, 274...
29   New Hampshire  [279.0, 287.0, 293.0, 294.0, 296.0, 292.0, 292...
30      New Jersey  [281.0, 292.0, 292.0, 293.0, 296.0, 294.0, 293...
31      New Mexico  [259.0, 269.0, 269.0, 271.0, 273.0, 274.0, 270...
32        New York  [274.0, 280.0, 282.0, 280.0, 282.0, 280.0, 283...
33  North Carolina  [274.0, 284.0, 282.0, 281.0, 286.0, 286.0, 284...
34    North Dakota  [278.0, 286.0, 288.0, 288.0, 291.0, 292.0, 293...
35            Ohio  [276.0, 286.0, 288.0, 285.0, 290.0, 289.0, 286...
36        Oklahoma  [264.0, 276.0, 275.0, 275.0, 276.0, 279.0, 276...
37          Oregon  [270.0, 280.0, 282.0, 283.0, 284.0, 283.0, 285...
38    Pennsylvania  [274.0, 285.0, 286.0, 284.0, 290.0, 286.0, 288...
39    Rhode Island  [270.0, 276.0, 277.0, 281.0, 284.0, 283.0, 278...
40  South Carolina  [269.0, 276.0, 275.0, 276.0, 280.0, 281.0, 280...
41    South Dakota  [281.0, 287.0, 286.0, 285.0, 287.0, 291.0, 291...
42       Tennessee  [272.0, 280.0, 279.0, 278.0, 278.0, 274.0, 275...
43           Texas  [273.0, 280.0, 282.0, 284.0, 288.0, 290.0, 287...
44            Utah  [282.0, 285.0, 287.0, 286.0, 284.0, 283.0, 284...
45         Vermont  [276.0, 287.0, 288.0, 290.0, 295.0, 294.0, 293...
46        Virginia  [279.0, 287.0, 290.0, 288.0, 288.0, 289.0, 286...
47      Washington  [276.0, 286.0, 289.0, 287.0, 290.0, 288.0, 289...
48   West Virginia  [260.0, 272.0, 273.0, 271.0, 274.0, 273.0, 270...
49       Wisconsin  [281.0, 289.0, 288.0, 289.0, 289.0, 289.0, 288...
50         Wyoming  [281.0, 286.0, 289.0, 287.0, 288.0, 288.0, 286...

In [8]:
score_list.to_csv('../clean_data/score_list.csv',index=False)