In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv('gap.csv')

In [4]:
gap_stats = data.groupby('Jurisdiction')['Gap'].agg(['max', 'min']).reset_index()
gap_stats

      Jurisdiction  max  min
0          Alabama    5   -3
1           Alaska    4   -4
2          Arizona    6    0
3         Arkansas    3   -2
4       California    7   -1
5         Colorado    6   -1
6      Connecticut    5    1
7         Delaware    3   -1
8          Florida    6    0
9          Georgia    2   -1
10          Hawaii    3   -3
11           Idaho   10   -1
12        Illinois    6    0
13         Indiana    8    0
14            Iowa    6    1
15          Kansas    5    1
16        Kentucky    4    0
17       Louisiana    3    0
18           Maine    5    0
19        Maryland    5    1
20   Massachusetts    8    0
21        Michigan    6    1
22       Minnesota    8    1
23     Mississippi    3   -2
24        Missouri    6   -1
25         Montana    5    1
26        National    6    1
27        Nebraska    5    0
28          Nevada    8    1
29   New Hampshire    6    1
30      New Jersey    6    1
31      New Mexico    5    1
32        New York    6    1
33  North Carolina    3    0
34    North Dakota    5    1
35            Ohio    6    1
36        Oklahoma    4   -1
37          Oregon    5    0
38    Pennsylvania    5    0
39    Rhode Island    4    0
40  South Carolina    4   -2
41    South Dakota    5    0
42       Tennessee    5    0
43           Texas    7    0
44            Utah    9    0
45         Vermont    6   -1
46        Virginia    6    1
47      Washington    5    0
48   West Virginia    3   -1
49       Wisconsin    4    1
50         Wyoming    5    1

In [5]:
gap_stats['Min_Max'] = list(zip(gap_stats['min'], gap_stats['max']))

# Drop the separate 'max' and 'min' columns
gap_stats_combined = gap_stats.drop(columns=['max', 'min'])

gap_stats_combined

      Jurisdiction   Min_Max
0          Alabama   (-3, 5)
1           Alaska   (-4, 4)
2          Arizona    (0, 6)
3         Arkansas   (-2, 3)
4       California   (-1, 7)
5         Colorado   (-1, 6)
6      Connecticut    (1, 5)
7         Delaware   (-1, 3)
8          Florida    (0, 6)
9          Georgia   (-1, 2)
10          Hawaii   (-3, 3)
11           Idaho  (-1, 10)
12        Illinois    (0, 6)
13         Indiana    (0, 8)
14            Iowa    (1, 6)
15          Kansas    (1, 5)
16        Kentucky    (0, 4)
17       Louisiana    (0, 3)
18           Maine    (0, 5)
19        Maryland    (1, 5)
20   Massachusetts    (0, 8)
21        Michigan    (1, 6)
22       Minnesota    (1, 8)
23     Mississippi   (-2, 3)
24        Missouri   (-1, 6)
25         Montana    (1, 5)
26        National    (1, 6)
27        Nebraska    (0, 5)
28          Nevada    (1, 8)
29   New Hampshire    (1, 6)
30      New Jersey    (1, 6)
31      New Mexico    (1, 5)
32        New York    (1, 6)
33  North Carolina    (0, 3)
34    North Dakota    (1, 5)
35            Ohio    (1, 6)
36        Oklahoma   (-1, 4)
37          Oregon    (0, 5)
38    Pennsylvania    (0, 5)
39    Rhode Island    (0, 4)
40  South Carolina   (-2, 4)
41    South Dakota    (0, 5)
42       Tennessee    (0, 5)
43           Texas    (0, 7)
44            Utah    (0, 9)
45         Vermont   (-1, 6)
46        Virginia    (1, 6)
47      Washington    (0, 5)
48   West Virginia   (-1, 3)
49       Wisconsin    (1, 4)
50         Wyoming    (1, 5)

In [6]:
gap_stats['MinMaxList'] = gap_stats['Min_Max'].apply(lambda x: list(x))
gap_stats_lists = gap_stats.drop(columns=['Min_Max', 'max', 'min'])
gap_stats_lists

      Jurisdiction MinMaxList
0          Alabama    [-3, 5]
1           Alaska    [-4, 4]
2          Arizona     [0, 6]
3         Arkansas    [-2, 3]
4       California    [-1, 7]
5         Colorado    [-1, 6]
6      Connecticut     [1, 5]
7         Delaware    [-1, 3]
8          Florida     [0, 6]
9          Georgia    [-1, 2]
10          Hawaii    [-3, 3]
11           Idaho   [-1, 10]
12        Illinois     [0, 6]
13         Indiana     [0, 8]
14            Iowa     [1, 6]
15          Kansas     [1, 5]
16        Kentucky     [0, 4]
17       Louisiana     [0, 3]
18           Maine     [0, 5]
19        Maryland     [1, 5]
20   Massachusetts     [0, 8]
21        Michigan     [1, 6]
22       Minnesota     [1, 8]
23     Mississippi    [-2, 3]
24        Missouri    [-1, 6]
25         Montana     [1, 5]
26        National     [1, 6]
27        Nebraska     [0, 5]
28          Nevada     [1, 8]
29   New Hampshire     [1, 6]
30      New Jersey     [1, 6]
31      New Mexico     [1, 5]
32        New York     [1, 6]
33  North Carolina     [0, 3]
34    North Dakota     [1, 5]
35            Ohio     [1, 6]
36        Oklahoma    [-1, 4]
37          Oregon     [0, 5]
38    Pennsylvania     [0, 5]
39    Rhode Island     [0, 4]
40  South Carolina    [-2, 4]
41    South Dakota     [0, 5]
42       Tennessee     [0, 5]
43           Texas     [0, 7]
44            Utah     [0, 9]
45         Vermont    [-1, 6]
46        Virginia     [1, 6]
47      Washington     [0, 5]
48   West Virginia    [-1, 3]
49       Wisconsin     [1, 4]
50         Wyoming     [1, 5]

In [7]:
## gap in one column
gap_list = data.groupby('Jurisdiction')['Gap'].apply(list).reset_index(name='Gaps')

gap_list

      Jurisdiction                                     Gaps
0          Alabama     [-3, 0, 0, 1, 0, -1, 1, 0, 0, -1, 5]
1           Alaska       [3, 4, 1, 1, 2, 2, 1, 3, 0, 1, -4]
2          Arizona        [0, 4, 6, 3, 0, 3, 0, 3, 3, 5, 6]
3         Arkansas      [0, -2, 1, 1, 3, 0, -1, 0, 2, 3, 3]
4       California       [-1, 4, 2, 2, 2, 1, 3, 3, 2, 3, 7]
5         Colorado       [3, 4, 3, 3, 2, 3, 2, 3, -1, 6, 6]
6      Connecticut        [2, 5, 3, 1, 3, 2, 1, 2, 4, 5, 1]
7         Delaware       [3, 2, 3, 1, 3, 2, 0, 2, -1, 3, 3]
8          Florida        [3, 2, 2, 2, 2, 0, 0, 1, 2, 4, 6]
9          Georgia       [2, 2, 1, 2, 1, -1, 2, 1, 1, 1, 2]
10          Hawaii  [-2, 1, -2, -3, -1, -2, -2, 0, 0, 0, 3]
11           Idaho      [-1, 4, 1, 2, 2, 2, 5, 1, 4, 3, 10]
12        Illinois        [2, 2, 2, 4, 3, 2, 0, 1, 3, 3, 6]
13         Indiana        [2, 2, 0, 2, 1, 3, 1, 1, 3, 5, 8]
14            Iowa        [3, 4, 4, 3, 1, 2, 3, 1, 4, 4, 6]
15          Kansas        [2, 4, 2, 2, 2, 1, 2, 2, 2, 5, 4]
16        Kentucky        [1, 3, 3, 3, 2, 2, 1, 3, 3, 0, 4]
17       Louisiana        [2, 1, 2, 0, 1, 0, 3, 1, 0, 2, 3]
18           Maine        [5, 3, 4, 3, 5, 3, 0, 3, 0, 4, 5]
19        Maryland        [3, 3, 3, 3, 1, 2, 2, 1, 3, 3, 5]
20   Massachusetts        [3, 5, 1, 3, 2, 3, 0, 5, 5, 3, 8]
21        Michigan        [2, 5, 4, 1, 3, 3, 1, 2, 3, 4, 6]
22       Minnesota        [4, 4, 2, 4, 3, 2, 1, 1, 3, 5, 8]
23     Mississippi    [-1, 0, 1, 1, -1, -2, -1, 0, 1, 2, 3]
24        Missouri       [0, 0, 4, 2, 1, -1, 1, 4, 3, 2, 6]
25         Montana        [5, 1, 4, 3, 5, 3, 3, 4, 1, 4, 5]
26        National        [3, 3, 2, 2, 2, 1, 1, 2, 2, 3, 6]
27        Nebraska        [0, 3, 3, 4, 0, 2, 4, 0, 3, 5, 3]
28          Nevada        [3, 3, 2, 3, 2, 2, 2, 1, 1, 1, 8]
29   New Hampshire        [3, 6, 3, 3, 2, 1, 4, 2, 3, 5, 3]
30      New Jersey        [3, 3, 4, 3, 3, 2, 2, 3, 1, 2, 6]
31      New Mexico        [5, 3, 2, 2, 2, 2, 2, 2, 1, 2, 4]
32        New York        [3, 2, 3, 2, 3, 1, 1, 2, 5, 3, 6]
33  North Carolina        [0, 2, 1, 2, 0, 1, 0, 3, 2, 1, 2]
34    North Dakota        [2, 5, 3, 5, 3, 2, 1, 3, 3, 2, 4]
35            Ohio        [4, 2, 2, 3, 3, 2, 1, 1, 1, 6, 5]
36        Oklahoma       [2, 2, 2, 2, 2, -1, 2, 4, 3, 3, 3]
37          Oregon        [3, 2, 1, 4, 4, 0, 2, 2, 4, 5, 5]
38    Pennsylvania        [3, 4, 1, 2, 3, 2, 0, 2, 3, 2, 5]
39    Rhode Island        [2, 2, 1, 1, 3, 0, 1, 0, 1, 3, 4]
40  South Carolina     [2, 3, 0, -2, 1, -1, -2, 1, 2, 4, 3]
41    South Dakota        [3, 4, 3, 2, 2, 2, 0, 1, 5, 5, 4]
42       Tennessee        [2, 0, 2, 3, 1, 1, 0, 1, 1, 3, 5]
43           Texas        [3, 3, 4, 1, 1, 0, 0, 2, 0, 3, 7]
44            Utah        [0, 3, 3, 3, 2, 3, 3, 3, 4, 3, 9]
45         Vermont       [1, 4, 5, 3, 2, 3, 2, -1, 1, 3, 6]
46        Virginia        [5, 1, 3, 3, 4, 3, 1, 1, 5, 3, 6]
47      Washington        [3, 3, 1, 3, 0, 2, 1, 0, 3, 5, 4]
48   West Virginia      [1, 2, 3, 3, 2, 1, 1, -1, 1, -1, 2]
49       Wisconsin        [3, 3, 3, 2, 3, 1, 1, 1, 3, 3, 4]
50         Wyoming        [3, 2, 2, 1, 2, 2, 1, 2, 3, 4, 5]

In [8]:
gap_list.to_csv('gap_list.csv')